{% extends "layout.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_sty.css') }}">
    <title>SongThaew</title>
</head>
<body>
    <div class="discount-title">
        <img src="../static/pic/pic_home.png" alt="" class="img">
        <div class="discount-title-box">
            <h1>เดินทางกับเรารับประกันสุดสายตา</h1>
        </div>
        <a href="/booking" class="discount-btn">จองได้เลยที่นี่</a>
    </div>

</body>
</html>

{% endblock %}